#center.player {
	bottom: 50px;
	padding: 0px;
}

#center .player {
	padding: 0px 5px;
}

#center .player .menu {
	top: 51px !important;
	bottom: 0px;
	z-index: 10;
}

#center .player .browse .header,
#center	.player .youtube .header,
#center	.player .albums .header,
#center	.player .playlist .header {
	padding-left: 38px;
}
	 
#center .player .album .header button {
	top: auto;	
}

@media only screen and (max-width: 639px) { /* mobile */
	#center {
		left: 0px;
	}
	#menu {
		display: none;
	}
	#header .menu .classicItemsWrapper {
		display: none;
	}
	#header .menu .mobileItemsWrapper {
		width: 170px;
		height: 44px;
		display: inline-block;
	}
	
	#header .menu .mobileItemsWrapper {
		width: 170px;
		height: 44px;
		display: inline-block;
	}
}

@media only screen and (min-width: 640px) { /* classic */
	#center {
		left: 230px;
	}
	#menu {
		top: 52px;
		width: 230px;
		bottom: 1px;
		position: fixed;
		background-color: #2d3d54;
		box-shadow: 0px 0px 1px 0px #ccc;
	}
	#header .menu .classicItemsWrapper {
		width: 400px;
		height: 44px;
		display: inline-block;
	}
	#header .menu .mobileItemsWrapper {
		display: none;
	}
	
	.player .menu .toggle label {
		left: 235px;
	}
	
	.player .menu .toggle input[type=checkbox]:checked ~ label {
	    left: 5px;
	}
}


#header .menu {
	display: inline-block;
}

#header .menu .classicItemsWrapper .menuItem {
	padding: 5px 10px;
	width: 70px;
	border-left: 1px solid rgba(255,255,255,0.05);
}

#header .menu .mobileItemsWrapper .menuItem {
	padding: 2px;
	width: 70px;
}

#header .menu .menuItem {
	height: 50px;
	display: inline-block;
	display: inline-block;
	border-top: 2px solid #29487d;
}
#header .menu .menuItem:hover {
	background-color: #243c6d;
	cursor: pointer;
}

#header .menu .menuItem.selected {
	border-top: 2px solid #F44336;
	background-color: #4CAF50;
}

#header .menu .menuItem .list {
	width: 8px; height: 40px;
	background: url("images/list.png") no-repeat scroll center transparent;
	display: inline-block;
	float: left;
}

#header .menu .menuItem .icon {
	width: 50px;
	height: 40px;
	display: inline-block;
	float: left;
}

#header .menu .menuItem .name {
	display: none;
	position: relative;
	bottom: 10px;
}


#header .menu .menuItem .icon.home {
	background: url(images/system_icons.png) center 0px no-repeat
}

#header .menu .menuItem .icon.area {
	background: url(images/system_icons.png) center -40px no-repeat
}

.popup.homeMenu {
	left: 0px;
	top: 52px !important;
    bottom: 1px;
	width: 230px;
	background-color: #2d3d54;
}

.popup.homeMenu .menu .menuItem {
	display: block;
	height: 50px;
	border-left: 3px solid transparent;
	border-bottom: 1px solid rgba(255,255,255,0.05);
    color: #b8c7ce;
}
.popup.homeMenu .menu .menuItem:hover {
	cursor: pointer;
	background-color: #1a2226;
	color: #fff;
}

.popup.homeMenu .menu .menuItem.selected {
	color: #fff;
    background: #4CAF50;
    border-left-color: #F44336;
}

.popup.homeMenu .menu .menuItem .icon {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 5px 0px 5px 5px;
	float: left;
	top: 20px;
}

.popup.homeMenu .menu .menuItem .name {
	display: inline-block;
	position: relative;
	top: 17px;
	padding-left: 5px;
}

.menu .menuItem .focus {
	height: 100%;
}

.menu .menuItem .icon.dashboard {
	
}

.menu .menuItem .icon.device {
	background: url(images/home/menu_icons.png) center 0px no-repeat;
}
.menu .menuItem .icon.device:active {
	background: url(images/overlay.png) center no-repeat, url(images/home/menu_icons.png) center 0px no-repeat;
}

.menu .menuItem .icon.musicVideo {
	background: url(images/home/menu_icons.png) center -40px no-repeat;
}
.menu .menuItem .icon.musicVideo:active {
	background: url(images/overlay.png) center no-repeat, url(images/home/menu_icons.png) center -40px no-repeat;
}

.menu .menuItem .icon.appliance {
	background: url(images/home/menu_icons.png) center -80px no-repeat;
}
.menu .menuItem .icon.appliance:active {
	background: url(images/overlay.png) center no-repeat, url(images/home/menu_icons.png) center -80px no-repeat;
}

.menu .menuItem .icon.mode {
	background: url(images/home/menu_icons.png) center -120px no-repeat;
}
.menu .menuItem .icon.mode:active {
	background: url(images/overlay.png) center no-repeat, url(images/home/menu_icons.png) center -120px no-repeat;
}

.menu .menuItem .icon.scene {
	background: url(images/home/menu_icons.png) center -160px no-repeat;
}
.menu .menuItem .icon.scene:active {
	background: url(images/overlay.png) center no-repeat, url(images/home/menu_icons.png) center -160px no-repeat;
}


.popup.homeAreas {
	left: 0px;
	top: 52px !important;
	bottom: 1px;
	width: 230px;
	background-color: #2d3d54;
	border: 1px solid #e6e6e6;
}

.areas .menuItem {
	height: 50px;
	display: block;
	padding: 5px 0px;
	border-bottom: 1px solid rgba(255,255,255,0.05);
	color: #b8c7ce;
	border-left: 3px solid transparent;
}

.areas .menuItem:hover {
	background-color: #1a2226;
	cursor: pointer;
	color: #fff;
}

.areas .menuItem.selected {
	color: #fff;
	background: #4CAF50;
    border-left-color: #F44336;
}

.areas .menuItem .focus {
	height: 100%;
}

.areas .menuItem .name {
	display: inline-block;
	position: relative;
	top: 12px;
}

.areas .menuItem .icon {
	width: 50px;
	height: 40px;
	display: inline-block;
	float: left;
}

.areas .menuItem .icon.home {
	background: url(images/system_icons.png) center 0px no-repeat
}

.areas .menuItem .icon.area {
	background: url(images/system_icons.png) center -40px no-repeat
}

#center .dashboard.row {
	margin: 0px;
	padding: 0px;
	margin-top: -5px;
}

#center .dashboard .item_ {
	padding: 5px;
	height: 135px;
}

#center .dashboard .item_ .wrapper .item-footer {
	position: absolute;
    bottom: 0px;
    height: 30px;
    left: 0px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.15); */
}
#center .dashboard .item_ .wrapper {
	position: relative;
	overflow: hidden;
}

#center .dashboard .item_.server .wrapper {
	background-color: #fff;
    border: 1px solid #b2cff5;
}

#center .dashboard .item_.server .wrapper .content {
	padding: 8px 12px;	
	margin-top: -10px;
	height: 120px;
}

#center .dashboard .item_.server .wrapper .content .disk,
#center .dashboard .item_.server .wrapper .content .mem {
	 display: inline-block;
}

#center .dashboard .item_ .dateTime {
    width: 100%;
    padding-left: 0px !important;
    text-align: center;
    font-size: 16px !important;
}

#center .dashboard .item_.server.clock .wrapper {
	background-color: #606567;
}

#center .dashboard .item_.server.clock .wrapper .time {
	color: #ffffff;
    margin-top: 30px;
    font-size: 40px;
}

#center .dashboard .item_.server.clock .wrapper .date {
	color: #ffffff;
    font-size: 16px;
    float: right;
}

#center .dashboard .item_.device .wrapper {
	background-color: #5c72a2;
}

#center .dashboard .item_.device .wrapper .content {
	margin: 0px auto;
}

#center .dashboard .item_.player .wrapper {
	background-color: #ffa00b;
}

#center .dashboard .item_.scene .wrapper {
	background-color: #be70e0;
}

#center .dashboard .item_.mode .wrapper {
	background-color: #61b6e8;
}

#center .dashboard .item_.controller .wrapper {
	background-color: #df6c47;
}


#center .dashboard .item_ .wrapper {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

#center .dashboard .item_ .content{
	width: 90%;
    margin: 0px auto;
    min-height: 122px;
}

#center .dashboard .item_ .icon {
	width: 110px;
    height: 110px;
    float: right;
}

#center .dashboard .item_ .total {
	display: block;
    font-size: 12px;
    color: #aaa;
    margin-right: 10px;
}

#center .dashboard .item_ .totalCount {
	font-size: 40px;
    position: absolute;
    width: 60px;
    margin: 5px auto;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    top: 10px;
}

#center .dashboard .item_ .name {
    left: 37px;
    top: 70px;
    position: absolute;
    color: #fff;
    font-size: 18px;
}

#center .dashboard .item_.server .name {
    left: 37px;
    top: 16px;
    position: absolute;
    color: #585858;
    font-size: 22px;
    z-index: 60;
}

#center .dashboard .item_.server .freeGb {
	left: 37px;
    top: 45px;
    position: absolute;
    color: #585858;
    font-size: 14px;
    z-index: 60;
}

#center .dashboard .item_ .onCount, 
#center .dashboard .item_ .offCount,
#center .dashboard .item_ .dateTime {
	font-size: 14px;
    display: inline-block;
    padding-left: 37px;
    line-height: 30px;
    color: #fff;;
} 

#center .dashboard .item_ .offCount {
    color: #ffd1c9;
}

#center .dashboard .item_ .onCount {
	color: rgb(182, 251, 182);
}

#center .dashboard .item_.device .icon {
	background: url(images/home/dashboard.png) center 0px no-repeat;
}
#center .dashboard .item_.player .icon{
	background: url(images/home/dashboard.png) center -110px no-repeat;
}
#center .dashboard .item_.scene .icon{
	background: url(images/home/dashboard.png) center -550px no-repeat;
}
#center .dashboard .item_.mode .icon {
	background: url(images/home/dashboard.png) center -440px no-repeat;
}
#center .dashboard .item_.controller .icon {
	background: url(images/home/dashboard.png) center -330px no-repeat;
}

#center .dashboard .item_.mode .activatedMode {
    font-size: 14px;
    line-height: 30px;
    padding-left: 37px;
    color: #fff;
}

#center .dashboard .item_ .lbl {
	width: 125px;
	display: block;
	text-align: center;
	margin: 0px auto;
	padding: 5px 0px;
	height: 20px;
}

#center .devices {
	padding: 0px;
	margin-top: -5px;
}

#center .scenes {
	padding: 0px;
}

#center .modes {
	padding: 0px;
	margin: 0px;
}

#center .modes .mode {
    display: block;
    min-height: 60px;
    padding: 5px;
    position: relative;
    border-radius: 3px;
    margin: 5px 0px;
}

#center .modes .mode .icon {
	width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    background: url(images/home/menu_icons_dark.png) center -116px no-repeat;
    border: 1px solid #aaa;
    border-radius: 25px;
    margin: 10px;
}

#center .modes .mode .name {
	display: inline-block;
    float: left;
    position: relative;
    top: 25px;
    /* text-transform: uppercase; */
    font-size: 16px;
}


#center .modes .mode .switch {
	width: 60px;
	height: 40px;
	display: inline-block;
	float: right;
	margin: 15px 10px;
}

#center .modes .mode .switch.on {
	background: url(images/home/switch.png) center 0px no-repeat;
}
#center .modes .mode .switch.on:ACTIVE {
	background: url(images/overlay.png) center no-repeat, url(images/home/switch.png) center 0px no-repeat;
}
#center .modes .mode .switch.off {
	background: url(images/home/switch.png) center -40px no-repeat;
}
#center .modes .mode .switch.off:ACTIVE {
	background: url(images/overlay.png) center no-repeat, url(images/home/switch.png) center -40px no-repeat;
}
#center .modes .mode .switch.unknown {
	background: url(images/home/switch.png) center -80px no-repeat;
}
#center .modes .mode .switch.unknown:ACTIVE {
	background: url(images/overlay.png) center no-repeat, url(images/home/switch.png) center -80px no-repeat;
}

.popup.message {
	bottom: 52px !important;
}

.player .menu {
	top: 51px !important;
	left: -230px;
}

.popup.playing {
	top: 54px !important;
}
