<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>


		<!-- Database connection settings -->
		<!-- JDBC connection pool (use the built-in) -->

		<property name="connection.pool_size">20</property>

		<!-- SQL dialect -->
		<!-- Enable Hibernate's automatic session context management -->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto"></property>
		<property name="hibernate.generate_statistics">true</property>

		<property name="hibernate.auto_close_session">true</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<!-- Echo all executed SQL to stdout -->
		<!-- Mapping files -->
		<mapping resource="Device.hbm.xml"/>
		<mapping resource="UserGroup.hbm.xml"/>
		<mapping resource="User.hbm.xml"/>
		<mapping resource="Project.hbm.xml"/>
		<mapping resource="UserProject.hbm.xml"/>
		<mapping resource="Area.hbm.xml"/>
		<mapping resource="Zone.hbm.xml"/>
		<mapping resource="UserZone.hbm.xml"/>
		<mapping resource="UserDevice.hbm.xml"/>
		<mapping resource="UserScene.hbm.xml"/>
		<mapping resource="Controller.hbm.xml"/>
		<mapping resource="Relay.hbm.xml"/>
		<mapping resource="Switch.hbm.xml"/>
		<mapping resource="RelayGroup.hbm.xml"/>
		<mapping resource="RelayGroupRelay.hbm.xml"/>
		<mapping resource="Sensor.hbm.xml"/>
		<mapping resource="SensorStatus.hbm.xml"/>
		<mapping resource="SensorData.hbm.xml"/>
		<mapping resource="Mode.hbm.xml"/>
		<mapping resource="Scene.hbm.xml"/>
		<mapping resource="ModeScene.hbm.xml"/>
		<mapping resource="SceneDevice.hbm.xml"/>
		<mapping resource="SceneAction.hbm.xml"/>
		<mapping resource="Schedule.hbm.xml"/>
		<mapping resource="ScheduleAction.hbm.xml"/>
		<mapping resource="ModeSensor.hbm.xml"/>
		<mapping resource="ModeSensorScene.hbm.xml"/>
		<mapping resource="ModeSensorUser.hbm.xml"/>
		<mapping resource="PlayList.hbm.xml"/>
		<mapping resource="PlayNode.hbm.xml"/>
		<mapping resource="PlayLeaf.hbm.xml"/>
		<mapping resource="Token.hbm.xml"/>
		<mapping resource="Dashboard.hbm.xml"/>
		<mapping resource="DashboardDevice.hbm.xml"/>
		<mapping resource="DashboardScene.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>