@import url("bootstrap.css");

/*
BLUE: #42A5F2
RED: #F44336
GREEN: #4CAF50
ORANGE: #FB8C00
$DARK-BLUE: #294E7A
$YELLOW : #F5EA1E
$LIGHT-YELLOW #FAE588
$LIGHT-GREEN : #8DCB8C
$LIGHT-GRAY : #F2F2F2
$DARK #2e3e4e
*/

:root {
	font-size: 13px;
}

/** Add css rules here for your application. */
button:focus {outline:0 !important;}
*:focus {outline:none !important}
*:focus {outline:none !important}

html {
	height: 100%;
	-webkit-text-size-adjust: none
}

body {
	color: #4b4b4b !important;
	background-color: #212121 !important;
	height: 100%;
	font-size: 13px !important;
	margin: 0px !important;
	font-family: Roboto,arial,sans-serif !important;
	min-width: 320px;
}

a {
	color: #66FFFF;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}



/*  GWT - Override >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.gwt-Button {
	/* background: url("images/hborder.png") repeat-x 0px -27px;*/
	/* border: 1px outset #000;*/
	border: none !important;
}

.gwt-Button:active {

}

.gwt-Button:hover {

}

.gwt-Button[disabled] {
	filter: alpha(opacity = 50) !important;
	opacity: 0.5 !important;
	border: none !important;
}

.gwt-Button[disabled]:hover {
	border: none !important;
}

.gwt-TextBox {
	padding: 4px 4px !important;
}

.com-google-gwt-user-cellview-client-CellTable-Style-cellTableSelectedRowCell {
    border: none !important;
    border-radius: 0px !important;
}

#toast-container {
	bottom: auto !important;
	top: 10px !important;
	right: 10px !important;
	left: auto !important;
}

@media only screen and (max-width: 600px) {
	#toast-container {
		width: calc(100% - 20px) !important;
	}
	#toast-container .toast {
		width: calc(100% - 20px) !important;
	}
}

@media only screen and (min-width: 600px) {
	
	#toast-container {
		width: 580px !important;
	}
	
	#toast-container .toast {
		width: 580px !important;
	}
	
	.login #toast-container {
		right: calc(50% - 290px) !important;
	}
}

#toast-container .toast {
	float: right !important;
	padding-right: 35px !important;
	position: relative !important;
}
#toast-container .toast.hidden {
	visibility: hidden;
}


#toast-container a {
	z-index: 500;
	position: absolute;
	top: 10px;
	right: 0px;
}

#toast-container a i {
	color: #e6e6e6;
	margin-right: 10px !important;	
}
#toast-container .toast.error {
	background-color: #F44336 !important;
}
#toast-container .toast.warning {
	background-color: #ffdb5b !important;
}
#toast-container .toast.info {
	background-color: #03A9F4 !important;
}
#toast-container .toast.success {
	background-color: #8BC34A !important;
}




/* Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#header {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 1000;
	background-color: #29487d; 
	min-width: 320px;
	box-shadow: 0px 0px 0px 1px #29487d;
    border-radius: 0px 0px 2px 2px;
    border-bottom: 1px solid #193463;
}

#footer {
	position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #f2f4f8;
    height: 1px;
    border-top: 1px solid #3b5998;
    font-size: 9px;
    text-align: right;
    font-weight: bold;
    padding: 0px;
    color: #243c6d;
}

#header .logoContainer {
	display: inline-block;
	float: left;
}

@media only screen and (max-width: 639px) { /* mobile */
	#header .logoContainer {
		width: 150px;
	}
}

@media only screen and (min-width: 640px) { /* classic */
	#header .logoContainer {
		width: 230px;
	}
}

#header .logo {
	display: inline-block;
	width: 130px;
	height: 50px;
	background: url(images/logo.png) 4px no-repeat;
}

#header .logo:active {
	background: url(images/overlay.png) center no-repeat,
		url(images/logo.png) 4px no-repeat;
}

#header .userMenu {
	background: url(images/user_menu.png) left 0px no-repeat;
    min-width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 7px;
    padding-left: 40px;
    text-align: left;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}

#spinner {	
	width: 16px;
	height: 16px;
	position: absolute;
	top: 20px;
    left: 63px;
	z-index: 3000;
}

#spinner.loading {	
	background: url(images/spinner.gif) center no-repeat;
	background-size: 16px 16px;
}

#spinner.normal {	
	background: none;
}

/* Center  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#center {
	top: 55px;
	position: absolute;
	right: 0px;
	left: 0px;
	padding: 0px;
	bottom: 5px;
	min-width: 316px;
	overflow: auto;
	background-color: #f2f4f8;
}

.popup {
	z-index: 999;
	overflow: auto !important;
	position: fixed !important;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
}

.popup.message {	
	right: 1px;
	left: auto !important;
	height: 50px;
	width: 316px;
	color: #fff;
	top: auto !important;
}

.popup.message .wrapper {
	width: 100%;
	height: 100%;
}

.popup.message .icon {
	width: 40px; height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
}

.popup.message .messageWrapper {
	position: absolute;
	top: 0px;
	left: 40px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	padding: 15px 7px;
}

.popup.message .text {
	
}

.popup.message.success {
	background-color: rgba(88, 201, 79, 0.75);
}
.popup.message.success .icon {
	background: url(images/message.png) center 0px no-repeat;
}

.popup.message.error {	
	background-color: rgba(201, 67, 40, 0.75);
}
.popup.message.error .icon {
	background: url(images/message.png) center -40px no-repeat;
}

.popup.message.warning {
	background-color: rgba(230, 194, 49, 0.75);
}
.popup.message.warning .icon {
	background: url(images/message.png) center -80px no-repeat;
}

.popup.message.normal {	
	background-color: rgba(43, 144, 204, 0.75);
}
.popup.message.normal .icon {
	background: url(images/message.png) center -120px no-repeat;
}

.popup.userMenus {
	left: auto !important;
	right: 0px !important;
	top: 51px !important;
	width: 255px;
	height: 275px !important;
	background-color: #f2f2f2;
	border: 1px solid #aaaaaa;
	bottom: auto !important;
}

.popup.userMenus .wrapper {
	padding: 5px;
}

.popup.userMenus .menuItem {
	display: block;
	height: 50px;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 0px;
	border-left: none;
}

.popup.userMenus .menuItem:hover {
	cursor: pointer;
	background-color: #e0e0e0;
}

.popup.userMenus .control {
	float: left;
	padding-left: 45px;
	line-height: 40px;
	background: url(images/user_menu.png) left -80px no-repeat;
}

.popup.userMenus .admin {
	float: left;
	padding-left: 45px;
	line-height: 45px;
	background: url(images/user_menu.png) left -160px no-repeat;
}

.popup.userMenus .logout {
	float: left;
	padding-left: 45px;
	line-height: 45px;
	background: url(images/user_menu.png) left -40px no-repeat;
}

.popup.userMenus .upgrade, .checkLatestVersion {
	float: left;
	padding-left: 45px;
	line-height: 45px;
	background: url(images/user_menu.png) left -320px no-repeat;
}

.popup.userMenus .superAdmin {
	float: left;
	padding-left: 45px;
	line-height: 45px;
	background: url(images/user_menu.png) left -160px no-repeat;
}

.popup.userMenus .languages {
	height: 50px;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 0px;
}

.popup.userMenus .languages .lbl {
	height: 40px;
	display: inline-block;
	line-height: 40px;
	padding: 2px 0px 2px 40px;
	width: 50%;;
}

.popup.userMenus .languages .lbl:HOVER {
	cursor: pointer;
	background-color: #e0e0e0 !important;
}

.popup.userMenus .languages .lbl.vn {
	background: url("images/user_menu.png") no-repeat scroll left -280px;
	float: left;
}

.popup.userMenus .languages .lbl.en {
	background: url("images/user_menu.png") no-repeat scroll left -240px;
}

.popup.userMenus .homes .home {
	height: 50px;
	text-align: left;
	padding: 3px 0px;
	border-left: 2px solid #f2f2f2;
	background: #e6e6e6;
	border-bottom: 1px solid #f2f2f2;
}
.popup.userMenus .homes .home.selected {
	border-left: 2px solid rgb(237, 27, 53);
	background-color: #fff;
}
.popup.userMenus .homes .home:hover {
	background: #fff;
}
.popup.userMenus .homes .home:active {
	background: background: url(images/overlay.png) center no-repeat #e0e0e0, url(images/user_menu.png) center -120px no-repeat;
}

.popup.userMenus .homes .home .icon {
	display: inline-block;
	width: 40px;
	height: 30px;
	background: url(images/user_menu.png) center -120px no-repeat
}

.popup.userMenus .homes .home .name {
	display: inline-block;
	position: relative;
	bottom: 4px;
	padding-left: 10px;
}

.switch label .lever {
    width: 70px !important;
    height: 36px !important;
    border-radius: 17px !important;
}

.switch label .lever:after {
	width: 34px !important;
    height: 34px !important;
    box-shadow: 0 0px 0px 1px rgba(0,0,0,0.4) !important;
    top: 1px !important;
    left: 0px !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    left: 34px !important;
}
